{% extends 'base.html' %}
{% load tags %}

{% block title %}
<title>{% firstof category.seo_title category_name %}</title>
<meta name="description" content="{{ category.seo_kwrds }}">
<meta name="keywords" content="{{ category.seo_kwrds }}">
{% endblock %}

{% block content %}
<main>
    <div class="container pb-5">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'categories' %}">Каталог</a></li>
            <li class="breadcrumb-item active">{{ category_name }}</li>
        </ol>
        <div class="d-md-flex align-items-center justify-content-between mb-4">
            <h1 class="h4 mb-md-0 mb-4 mr-5 flex-grow-1">{{ category_name }}<small class="ml-3 smaller text-muted">{{ main_offers|length }} товара (ов)</small></h1>

            <div class="d-flex d-lg-block align-items-center">
                <a href="#" title="" class="offcanvas-filters-toggler-icon mr-4 d-lg-none" type="button" data-toggle="offcanvas-filters"><i class="fas fa-sliders-h fa-lg"></i> <i class="fas fa-times fa-lg"></i></a>
                <select id="ordering" class="custom-select custom-select-sm border-white" name="ordering" onchange="submitForm();">
                    <option {% if ordering == 1 %}selected{% endif %} value="1">Популярные</option>
                    <option {% if ordering == 2 %}selected{% endif %} value="2">Сначала дешёвые</option>
                    <option {% if ordering == 3 %}selected{% endif %} value="3">Сначала дорогие</option>
                    <option {% if ordering == 4 %}selected{% endif %} value="4">Новинки</option>
                    <option {% if ordering == 5 %}selected{% endif %} value="5">По размеру скидки</option>
                </select>
            </div>
        </div>

        <div class="d-lg-none offcanvas-filters navbar-expand-lg">
            <div class="container">
                <div class="filters">
                    <form id="small_filters" action="{% url 'products' %}" method="GET">
                        {% if 'in_sale=1' in request.GET.urlencode %}
                        <input type="hidden" name="in_sale" value="1">
                        {% endif %}
                        {% if 'is_new=1' in request.GET.urlencode %}
                        <input type="hidden" name="is_new" value="1">
                        {% endif %}
                        {% if 'category' in request.GET.urlencode %}
                        <input type="hidden" name="category" value="{{ request.GET.category }}">
                        {% endif %}
                        {% if 'ordering' in request.GET.urlencode %}
                        <input type="hidden" name="ordering" value="{{ request.GET.ordering }}">
                        {% endif %}
                        <div class="mb-4">
                            <h6 class="mb-2 pb-1 smaller">Цена</h6>
                            <div class="filter-box filter-range">
                                <div class="d-flex align-items-center justify-content-between justify-content-sm-start">
                                    <div class="range-input">
                                        <span>от</span>
                                        <input type="number"  min=0 name="price_min" class="form-control form-control-sm border-white" placeholder="" value="{{ price_min }}">
                                    </div>

                                    <span class="px-2">-</span>

                                    <div class="range-input">
                                        <span>до</span>
                                        <input type="number" min=0 name="price_max" class="form-control form-control-sm border-white" placeholder="" value="{{ price_max }}">
                                    </div>
                                </div>
                                <div class="filter-apply d-none">
                                    <button class="btn btn-outline-dark smallest d-block py-0" type="submit">Показать</button>
                                </div>
                            </div>
                        </div>

                        <div class="mb-4">
                            <h6 class="mb-2 pb-1 smaller">Цвет</h6>
                            {% for color in colors %}
                            <div class="filter-box">
                                <div class="custom-control custom-checkbox color-checkbox mb-1">
                                    <input type="checkbox" name="color" value="{{ color.id }}" class="custom-control-input" id="sopt3-{{ color.id }}" {% if color.checked %}checked{% endif %}>
                                    <label class="custom-control-label smaller" for="sopt3-{{ color.id }}"><span class="filter-tag" style="background-color: {{ color.color }};"></span>{{ color.name }}</label>
                                </div>
                                <div class="filter-apply d-none">
                                    <button class="btn btn-outline-dark smallest d-block py-0" type="submit">Показать</button>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="mb-4">
                            <h6 class="mb-2 pb-1 smaller">Размер</h6>
                            {% for size in sizes %}
                            <div class="filter-box">
                                <div class="custom-control custom-checkbox mb-1">
                                    <input type="checkbox" name="size" value="{{ size.id }}" class="custom-control-input" id="sopt1-{{ size.id }}" {% if size.checked %}checked{% endif %}>
                                    <label class="custom-control-label smaller" for="sopt1-{{ size.id }}">{{ size.name }}</label>
                                </div>
                                <div class="filter-apply d-none">
                                    <button class="btn btn-outline-dark smallest d-block py-0" type="submit">Показать</button>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="mb-4">
                            <h6 class="mb-2 pb-1 smaller">Чашка</h6>
                            {% for cup in cups %}
                            <div class="filter-box">
                                <div class="custom-control custom-checkbox mb-1">
                                    <input type="checkbox" name="cup" value="{{ cup.id }}" class="custom-control-input" id="sopt4-{{ cup.id }}" {% if cup.checked %}checked{% endif %}>
                                    <label class="custom-control-label smaller" for="sopt4-{{ cup.id }}">{{ cup.name }}</label>
                                </div>
                                <div class="filter-apply d-none">
                                    <button class="btn btn-outline-dark smallest d-block py-0" type="submit">Показать</button>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="mb-4">
                            <h6 class="mb-2 pb-1 smaller">Пуш-ап</h6>
                            <div class="filter-box">
                                <div class="custom-control custom-radio mb-1">
                                    <input type="radio" name="pushup" value="1" class="custom-control-input" id="sopt2-1" {% if pushup == 1 %}checked{% endif %}>
                                    <label class="custom-control-label smaller" for="sopt2-1">Есть</label>
                                </div>
                                <div class="filter-apply d-none">
                                    <button class="btn btn-outline-dark smallest d-block py-0" type="submit">Показать</button>
                                </div>
                            </div>
                            <div class="filter-box">
                                <div class="custom-control custom-radio mb-1">
                                    <input type="radio" name="pushup" value="0" class="custom-control-input" id="sopt2-2" {% if pushup == 0 %}checked{% endif %}>
                                    <label class="custom-control-label smaller" for="sopt2-2">Нет</label>
                                </div>
                                <div class="filter-apply d-none">
                                    <button class="btn btn-outline-dark smallest d-block py-0" type="submit">Показать</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 d-none d-lg-block">
                <ul class="lz-menu mb-4 pb-4 border-bottom">
                    <li {% if 'in_sale=1' in request.GET.urlencode %}class="active"{% endif %}><a href="{% url 'products' %}?in_sale=1" class="font-500"><i class="fas fa-percentage mr-2"></i>Распродажа</a></li>
                    <li {% if 'is_new=1' in request.GET.urlencode %}class="active"{% endif %}><a href="{% url 'products' %}?is_new=1" class="font-500"><i class="fas fa-fire-alt mr-2"></i>Новинки</a></li>
                    {% for category_item in categories %}
                        <li class="{% if category_item.slug == category_slug %}active{% endif %}">
                            <a href="{{ request.GET.urlencode|change_category:category_item.slug }}">{{ category_item.name }}<span>{{ category_item.get_products|length }}</span></a>
                        </li>
                    {% endfor %}
                </ul>

                <div class="filters">
                    <form id="big_filters" action="{% url 'products' %}" method="GET">
                        {% if 'in_sale=1' in request.GET.urlencode %}
                        <input type="hidden" name="in_sale" value="1">
                        {% endif %}
                        {% if 'is_new=1' in request.GET.urlencode %}
                        <input type="hidden" name="is_new" value="1">
                        {% endif %}
                        {% if 'category' in request.GET.urlencode %}
                        <input type="hidden" name="category" value="{{ request.GET.category }}">
                        {% endif %}
                        {% if 'ordering' in request.GET.urlencode %}
                        <input type="hidden" name="ordering" value="{{ request.GET.ordering }}">
                        {% endif %}
                        <div class="mb-4">
                            <h6 class="mb-2 pb-1 smaller">Цена</h6>
                            <div class="filter-box filter-range">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="range-input">
                                        <span>от</span>
                                        <input type="number" name="price_min" min=0 class="form-control form-control-sm border-white" placeholder="" value="{{ price_min }}">
                                    </div>

                                    <span class="px-2">-</span>

                                    <div class="range-input">
                                        <span>до</span>
                                        <input type="number" name="price_max" min=0 class="form-control form-control-sm border-white" placeholder="" value="{{ price_max }}">
                                    </div>
                                </div>
                                <div class="filter-apply d-none">
                                    <button class="btn btn-outline-dark smallest d-block py-0" type="submit">Показать</button>
                                </div>
                            </div>
                        </div>

                        <div class="mb-4">
                            <h6 class="mb-2 pb-1 smaller">Цвет</h6>
                            {% for color in colors %}
                            <div class="filter-box">
                                <div class="custom-control custom-checkbox color-checkbox mb-1">
                                    <input type="checkbox" name="color" value="{{ color.id }}" class="custom-control-input" id="bopt3-{{ color.id }}" {% if color.checked %}checked{% endif %}>
                                    <label class="custom-control-label smaller" for="bopt3-{{ color.id }}"><span class="filter-tag" style="background-color: {{ color.color }};"></span>{{ color.name }}</label>
                                </div>
                                <div class="filter-apply d-none">
                                    <button class="btn btn-outline-dark smallest d-block py-0" type="submit">Показать</button>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="mb-4">
                            <h6 class="mb-2 pb-1 smaller">Размер</h6>
                            {% for size in sizes %}
                            <div class="filter-box">
                                <div class="custom-control custom-checkbox mb-1">
                                    <input type="checkbox" name="size" value="{{ size.id }}" class="custom-control-input" id="bopt1-{{ size.id }}" {% if size.checked %}checked{% endif %}>
                                    <label class="custom-control-label smaller" for="bopt1-{{ size.id }}">{{ size.name }}</label>
                                </div>
                                <div class="filter-apply d-none">
                                    <button class="btn btn-outline-dark smallest d-block py-0" type="submit">Показать</button>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="mb-4">
                            <h6 class="mb-2 pb-1 smaller">Чашка</h6>
                            {% for cup in cups %}
                            <div class="filter-box">
                                <div class="custom-control custom-checkbox mb-1">
                                    <input type="checkbox" name="cup" value="{{ cup.id }}" class="custom-control-input" id="bopt4-{{ cup.id }}" {% if cup.checked %}checked{% endif %}>
                                    <label class="custom-control-label smaller" for="bopt4-{{ cup.id }}">{{ cup.name }}</label>
                                </div>
                                <div class="filter-apply d-none">
                                    <button class="btn btn-outline-dark smallest d-block py-0" type="submit">Показать</button>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="mb-4">
                            <h6 class="mb-2 pb-1 smaller">Пуш-ап</h6>
                            <div class="filter-box">
                                <div class="custom-control custom-radio mb-1">
                                    <input type="radio" name="pushup" value="1" class="custom-control-input" id="bopt2-1" {% if pushup == 1 %}checked{% endif %}>
                                    <label class="custom-control-label smaller" for="bopt2-1">Есть</label>
                                </div>
                                <div class="filter-apply d-none">
                                    <button class="btn btn-outline-dark smallest d-block py-0" type="submit">Показать</button>
                                </div>
                            </div>
                            <div class="filter-box">
                                <div class="custom-control custom-radio mb-1">
                                    <input type="radio" name="pushup" value="0" class="custom-control-input" id="bopt2-2" {% if pushup == 0 %}checked{% endif %}>
                                    <label class="custom-control-label smaller" for="bopt2-2">Нет</label>
                                </div>
                                <div class="filter-apply d-none">
                                    <button class="btn btn-outline-dark smallest d-block py-0" type="submit">Показать</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    {% for offer in page_object.object_list %}
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="product-card mb-5">
                            <div class="bg-img mb-2" {% if offer.get_image %}style="background-image: url({{ offer.get_image.image_medium.url }})"{% endif %}>
                                <div class="d-flex status-badges">
                                    {% if offer.product.is_new %}
                                    <span class="badge badge-success">NEW</span>
                                    {% endif %}
                                    {% if offer.product.is_bs %}
                                    <span class="badge badge-info">ХИТ</span>
                                    {% endif %}
                                </div>

                                {% if offer.promotion_sale %}
                                <span class="badge badge-danger sale-badge">{{ offer.promotion_sale.text }}</span>
                                {% elif offer.promotion_sum_present %}
                                <span class="badge badge-dark sale-badge">{{ offer.promotion_sum_present.text }}</span>
                                {% elif offer.promotion_three_sales %}
                                <span class="badge badge-dark sale-badge">{{ offer.promotion_three_sales.text }}</span>
                                {% elif offer.promotion_min_present %}
                                <span class="badge badge-dark sale-badge">{{ offer.promotion_min_present.text }}</span>
                                {% endif %}
                            </div>

                            <div class="product-card-caption">
                                <a href="{{ offer.product.get_absolute_url }}" title="" class="stretched-link text-decoration-none text-dark smaller">{{ offer.product.name }}</a>

                                {% if offer.promotion_sale %}
                                <div>
                                    <div class="d-inline-block mr-2 text-muted small"><del><span class="number font-500 mr-1">{{ offer.product.price }}</span><span class="small">₽</span></del></div>
                                    <div class="d-inline-block text-danger"><span class="number font-500 mr-1">{{ offer.price_with_sale }}</span><span class="smaller">₽</span></div>
                                </div>
                                {% else %}
                                <div><span class="number font-500 mr-1">{{ offer.product.price }}</span><span class="smaller">₽</span></div>
                                {% endif %}

                                {% if offer.color %}
                                <div class="color-tags pt-2">
                                    {% for color in offer.product.get_colors %}
                                    <span style="background-color: {{ color.color }};"></span>
                                    {% endfor %}
                                </div>
                                {% endif %}

                                <div class="product-card-extra">
                                    <div class="product-card-extra-content">
                                        {% if offer.size %}
                                        <span class="d-block small text-muted">
                                            {% if offer.product.get_sizes %}
                                                Размеры: {{ offer.product.get_sizes|join:", " }}
                                            {% endif %}
                                        </span>
                                        {% endif %}
                                        {% if offer.cup %}
                                        <span class="d-block small text-muted">
                                            {% if offer.product.get_cups %}
                                                Чашки: {{ offer.product.get_cups|join:", " }}
                                            {% endif %}
                                        </span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                {% include '__pagination.html' %}
            </div>
        </div>
    </div>
</main>

<script>
    function submitForm(){
        big_form = document.getElementById('big_filters');
        ordering = document.getElementById('ordering');
        big_form.append(ordering);
        big_form.submit();
    }
</script>
{% endblock %}