{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{% firstof product.seo_title product.name %}</title>
<meta name="description" content="{{ product.seo_kwrds }}">
<meta name="keywords" content="{{ product.seo_kwrds }}">
{% endblock %}

{% block content %}
<main>
    <div class="container pb-5">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'categories' %}">Каталог</a></li>
            <li class="breadcrumb-item"><a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a></li>
            <li class="breadcrumb-item active">{{ product.name }}</li>
        </ol>

        <div class="row">
            <div class="col-lg-6">

                <div class="photoswipe-product-photo owl-carousel carousel-product-photo mb-lg-0 mb-5" itemscope itemtype="http://schema.org/ImageGallery">
                    {% for item in product.images.all %}
                    <figure itemprop="associatedMedia" data-image_id="{{ forloop.counter0 }}" id="image-{{ item.id }}" itemscope itemtype="http://schema.org/ImageObject">
                        <a href="{{ item.image.url }}" itemprop="contentUrl" data-size="{{ item.image.width }}x{{ item.image.height }}">
                            <img src="{{ item.image_big.url }}" itemprop="thumbnail" alt="...">
                        </a>
                        <figcaption itemprop="caption description" class="d-none">Информация об изображении, если нужно</figcaption>
                    </figure>
                    {% endfor %}
                </div>
            </div>

            <div class="col-lg-6">
                <div class="d-flex align-items-center mb-2">
                    <div class="product-rating text-orange mr-3">
                        {% for i in '12345'|make_list %}
                            {% if i <= rating %}
                            <i class="fas fa-star fa-xs"></i>
                            {% else %}
                            <i class="far fa-star fa-xs"></i>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <a href="#Feedback" title="" class="smallest text-muted pt-1">{{ reviews.count }} отзыва (ов)</a>
                </div>

                <h1 class="font-weight-light m-0">{{ product }}</h1>

                <div class="mb-2 pb-4 pt-3" id="offer-price">
                    {% if main_offer.stock %}
                        {% if main_offer.promotion_sale %}
                        <div>
                            <div class="d-inline-block mr-2 text-muted"><del><span class="number mr-1">{{ product.price }}</span><span class="small">₽</span></del></div>
                            <div class="d-inline-block text-danger"><span class="number h3 font-weight-normal mr-1">{{ main_offer.get_price }}</span><span class="smaller">₽</span></div>
                        </div>
                        {% else %}
                        <span class="number h3 font-weight-normal mr-1e">{{ product.price }}</span><span class="smaller">₽</span>
                        {% endif %}
                    {% else %}
                    <span class="bg-dark-light font-500 text-muted px-3 py-1">Нет в наличии</span>
                    {% endif %}
                </div>
                {% if main_offer.promotion_sale %}
                <span class="d-block small pb-4 text-danger">
                    <i class="fas fa-bookmark mr-2"></i>
                    <span class="font-weight-bold mr-2">Акция:</span>
                    <span id="promo-text">{{ main_offer.promotion_sale.text }}</span>
                </span>
                {% elif main_offer.promotion_sum_present %}
                <span class="d-block small pb-4 text-danger">
                    <i class="fas fa-bookmark mr-2"></i>
                    <span class="font-weight-bold mr-2">Акция:</span>
                    <span id="promo-text">{{ main_offer.promotion_sum_present.text }}</span>
                </span>
                {% elif main_offer.promotion_three_sales %}
                <span class="d-block small pb-4 text-danger">
                    <i class="fas fa-bookmark mr-2"></i>
                    <span class="font-weight-bold mr-2">Акция:</span>
                    <span id="promo-text">{{ main_offer.promotion_three_sales.text }}</span>
                </span>
                {% elif main_offer.promotion_min_present %}
                <span class="d-block small pb-4 text-danger">
                    <i class="fas fa-bookmark mr-2"></i>
                    <span class="font-weight-bold mr-2">Акция:</span>
                    <span id="promo-text">{{ main_offer.promotion_min_present.text }}</span>
                </span>
                {% endif %}
                <form action="{% url 'add_to_cart' %}" method="GET">
                    <div class="pb-3" id="ChangeOffer">
                        <input type="hidden" name="product" value="{{ product.id }}">
                        {% if colors %}
                        <div class="d-flex mb-3">
                            <span class="d-block smaller product-item-option-name">Цвет:</span>

                            <div class="btn-group-sm btn-group-toggle product-color-select" id="product-color-select" data-toggle="buttons">
                                {% for color in colors %}
                                <label 
                                    {% if color.is_multi %}
                                    class="btn tag-colored {% if main_offer.color == color %}active{% endif %}"
                                    {% else %}
                                    class="btn {% if main_offer.color == color %}active{% endif %}"
                                    style="background-color: {{ color.color }};"
                                    {% endif %}
                                >
                                    <input type="radio" name="color" value="{{ color.id }}" autocomplete="off" {% if main_offer.color == color %}checked{% endif %}>
                                </label>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        {% if sizes %}
                        <div class="d-flex mb-3">
                            <span class="d-block smaller pt-1 product-item-option-name">Размер:</span>

                            <div class="btn-group-sm btn-group-toggle product-size-select" id="product-size-select" data-toggle="buttons">
                                {% for size in sizes %}
                                <label class="btn {% if main_offer.size == size %}active{% endif %}">
                                    <input type="radio" name="size" value="{{ size.id }}" autocomplete="off" {% if main_offer.size == size %}checked{% endif %}>
                                    {{ size }}
                                </label>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        {% if cups %}
                        <div class="d-flex mb-3">
                            <span class="d-block smaller pt-1 product-item-option-name">Чашка:</span>

                            <div class="btn-group-sm btn-group-toggle product-size-select" id="product-cup-select" data-toggle="buttons">
                                {% for cup in cups %}
                                <label class="btn {% if main_offer.cup == cup %}active{% endif %}">
                                    <input type="radio" name="cup" value="{{ cup.id }}" autocomplete="off" {% if main_offer.cup == cup %}checked{% endif %}>
                                    {{ cup }}
                                </label>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </div>

                    <div class="{% if main_offer.stock %}d-md-flex{% else %}d-none{% endif %} align-items-center mb-4" id="product-buttons">
                        {% if main_offer.id|stringformat:"i" in cart.cart %}
                        <a href="{% url 'cart' %}" id="in-cart" class="btn btn-outline-dark px-xl-4 px-3 py-2 mr-4 mb-3">В корзине</a>
                        <button id="add-to-cart" type="submit" class="btn btn-primary px-xl-4 px-3 py-2 mr-4 mb-3 d-none"><img src="{% static 'images/shopping-bag.svg' %}" alt="" height="16" class="mr-3 mb-1">Добавить в корзину</button>
                        {% else %}
                        <a href="{% url 'cart' %}" id="in-cart" class="btn btn-outline-dark px-xl-4 px-3 py-2 mr-4 mb-3 d-none">В корзине</a>
                        <button id="add-to-cart" type="submit" class="btn btn-primary px-xl-4 px-3 py-2 mr-4 mb-3"><img src="{% static 'images/shopping-bag.svg' %}" alt="" height="16" class="mr-3 mb-1">Добавить в корзину</button>
                        {% endif %}
                        <a href="#" class="btn btn-outline-dark px-xl-5 px-3 py-2 mr-4 mb-3" data-toggle="modal" data-target="#OneClickOrderModal">Купить в 1 клик</a>
                    </div>
                </form>
                <div class="row mb-3">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        {% if user.is_authenticated %}
                            {% if main_offer.id not in user.get_favorites_offers %}
                            <a href="#" data-offer-id="{{ main_offer.id }}" title="" class="d-inline-block text-decoration-none smaller mb-2 add-favorite"><i class="fas fa-heart mr-2"></i>Добавить в желаемое</a>
                            {% endif %}
                        {% endif %}
                        <div class="clearfix"></div>
                        <a href="#" title="" class="d-inline-block text-decoration-none smaller text-dark mb-2" data-toggle="modal" data-target="#SizesTableModal"><i class="fas fa-ruler mr-2"></i>Таблица размеров</a>
                    </div>

                    <div class="col-sm-6">
                        <div class="d-flex mb-2 smaller">
                            <span class="mr-2 text-muted">На складе:</span>
                            <span id="offer-stock" class="font-500">
                                {% if main_offer.stock > 10 %}
                                Много
                                {% elif main_offer.stock <= 0 %}
                                0
                                {% else %}
                                Мало
                                {% endif %}
                            </span>
                        </div>

                        <div class="d-flex mb-2 smaller">
                            <span class="mr-2 text-muted">Артикул:</span>
                            <span class="font-500">{{ product.vendor_code }}</span>
                        </div>
                    </div>
                </div>

                <div class="d-flex align-items-center border-top border-bottom py-3 mb-4">
                    <span class="mr-3 text-muted smaller">Поделиться:</span>
                    <div>
                        <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                        <script src="https://yastatic.net/share2/share.js"></script>
                        <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter,whatsapp,telegram"></div>
                    </div>
                </div>

                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link smaller py-0 px-3 active" id="pills-1-tab" data-toggle="pill" href="#pills-1" role="tab" aria-controls="pills-1" aria-selected="false">Характеристики</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link smaller py-0 px-3" id="pills-2-tab" data-toggle="pill" href="#pills-2" role="tab" aria-controls="pills-2" aria-selected="false">Описание</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                        <div class="d-flex mb-1">
                            <span class="mr-2 text-muted smaller">Пуш-ап:</span>
                            <span class="smaller">{% if product.pushup %} Да {% else %} Нет {% endif %}</span>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
                        <div class="smaller">
                            {% if product.desc %}
                                <p>{{ product.desc }}</p>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="pt-xl-5 pb-xl-5 pb-lg-4" id="Feedback">
            <h2 class="h5 mb-4 mt-4">Отзывы<small class="smaller text-muted ml-2">({{ reviews.count }})</small></h2>
            {% for review in page_object.object_list %}
            <div class="media bg-white p-md-4 p-3 mb-4">
                <div class="product-rating text-orange mr-4">
                    {% for i in '12345'|make_list %}
                        {% if i <= review.get_rating_display %}
                        <i class="fas fa-star fa-xs"></i>
                        {% else %}
                        <i class="far fa-star fa-xs"></i>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="media-body">
                    <h6 class="d-block font-500 mb-1">
                        {% if request.user == review.order_item.order.user %}
                            Вы
                        {% else %}
                            {{ review.order_item.order.user.full_name }}
                        {% endif %}
                        <span class="ml-3 font-weight-normal">{{ review.order_item.order.created|date:"d.m.Y" }}</span>
                    </h6>
                    <p class="smaller">{{ review.text }}</p>
                </div>
            </div>
            {% endfor %}
            {% include '__pagination.html' %}
        </div>

        <h2 class="h5 mb-4">Похожие товары</h2>
        <div class="owl-carousel carousel-products">
            {% for similar in product.similars.all %}
            <div class="product-card">
                <div class="bg-img mb-2" {% if similar.sim_product.main_offer.get_image %}style="background-image: url({{ similar.sim_product.main_offer.get_image.image_medium.url }})"{% endif %}>
                    <div class="d-flex status-badges">
                        {% if similar.sim_product.is_new %}
                        <span class="badge badge-success">NEW</span>
                        {% endif %}
                        {% if similar.sim_product.is_bs %}
                        <span class="badge badge-info">ХИТ</span>
                        {% endif %}
                    </div>

                    <div class="d-flex sale-badges">
                        {% if similar.sim_product.main_offer.promotion_sale %}
                        <span class="badge badge-danger sale-badge">{{ similar.sim_product.main_offer.promotion_sale.text }}</span>
                        {% elif similar.sim_product.main_offer.promotion_sum_present %}
                        <span class="badge badge-dark sale-badge">{{ similar.sim_product.main_offer.promotion_sum_present.text }}</span>
                        {% elif similar.sim_product.main_offer.promotion_three_sales %}
                        <span class="badge badge-dark sale-badge">{{ similar.sim_product.main_offer.promotion_three_sales.text }}</span>
                        {% elif similar.sim_product.main_offer.promotion_min_present %}
                        <span class="badge badge-dark sale-badge">{{ similar.sim_product.main_offer.promotion_min_present.text }}</span>
                        {% endif %}
                    </div>
                </div>

                <div class="product-card-caption">
                    <a href="{{ similar.sim_product.get_absolute_url }}" title="" class="stretched-link text-decoration-none text-dark smaller">{{ similar.sim_product.name }}</a>

                    {% if similar.sim_product.main_offer.promotion_sale %}
                    <div>
                        <div class="d-inline-block mr-2 text-muted small"><del><span class="number font-500 mr-1">{{ similar.sim_product.price }}</span><span class="small">₽</span></del></div>
                        <div class="d-inline-block text-danger"><span class="number font-500 mr-1">{{ similar.sim_product.main_offer.price_with_sale }}</span><span class="smaller">₽</span></div>
                    </div>
                    {% else %}
                    <div><span class="number font-500 mr-1">{{ similar.sim_product.price }}</span><span class="smaller">₽</span></div>
                    {% endif %}

                    <div class="color-tags pt-2">
                        {% for color in similar.sim_product.get_colors %}
                        <span
                        {% if color.is_multi %}
                        class="tag-colored"
                        {% else %}
                        style="background-color: {{ color.color }};"
                        {% endif %}
                        ></span>
                        {% endfor %}
                    </div>

                    <div class="product-card-extra">
                        <div class="product-card-extra-content">
                            <span class="d-block small text-muted">
                                {% if similar.sim_product.get_sizes %}
                                    Размеры: {{ similar.sim_product.get_sizes|join:", " }}
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

<div class="modal fade" id="OneClickOrderModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content overflow-hidden shadow bg-light">
            <div class="modal-header">
                <h6 class="m-0 pt-1">Купить в 1 клик</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body pt-3">
                <p class="smallest text-muted">Пожалуйста, оставьте контакты. Мы тут же перезвоним и уточним детали заказа и доставки.</p>

                <form class="needs-validation" novalidate action="{% url 'order_one_click_add' %}">
                    {% csrf_token %}
                    <div class="form-label-group smaller mb-4">
                        {{ order_ocf.full_name }}
                        <label>Ваше имя</label>

                        <div class="invalid-feedback">
                            Проверьте верность почты
                        </div>
                    </div>

                    <div class="form-label-group smaller mb-4">
                        {{ order_ocf.phone }}
                        <label>Номер телефона</label>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    <button class="btn btn-outline-dark d-block w-100 mb-4" type="submit">Отправить</button>

                    <div class="alert alert-secondary alert-dismissible small fade show mb-4 d-none" role="alert" id="one-click-add-error">
                        Ошибка! Перезагрузите страницу и попробуйте снова.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <p class="text-muted smallest border-top mb-0 pt-3">Нажимая кнопку "Отправить", вы даёте согласие на <a href="/pages/personal-data/" target="_blank">обработку персональных данных</a></p>
                </form>

                
                <div class="form-success d-none align-items-center justify-content-center text-center p-4" id="one-click-add-message">
                    <div>
                        <img src="{% static 'images/shopping-bag.svg' %}" alt="" height="32" class="mb-3">
                        <h6>Готово!</h6>
                        <p class="small">Мы получили Вашу заявку. Ожидайте звонок в ближайшее время.</p>
                    </div>
                </div>
               

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SizesTableModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content overflow-hidden shadow bg-light">
            <div class="modal-header">
                <h6 class="m-0 pt-1">Таблица размеров</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody class="small">
                            <tr>
                                <td rowspan="2">Обхват под грудью (см)</td>
                                <td rowspan="2">Размер пояса</td>
                                <td colspan="5">Обхват груди по выступающим частям (см)</td>
                            </tr>

                            <tr>
                                <td>A</td>
                                <td>B</td>
                                <td>C</td>
                                <td>D</td>
                                <td>E</td>
                            </tr>
                            <tr>
                                <td>63-67</td>
                                <td>65</td>
                                <td>77-79</td>
                                <td>79-81</td>
                                <td>81-83</td>
                                <td>83-85</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>63-67</td>
                                <td>65</td>
                                <td>77-79</td>
                                <td>79-81</td>
                                <td>81-83</td>
                                <td>83-85</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>63-67</td>
                                <td>65</td>
                                <td>77-79</td>
                                <td>79-81</td>
                                <td>81-83</td>
                                <td>83-85</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>63-67</td>
                                <td>65</td>
                                <td>77-79</td>
                                <td>79-81</td>
                                <td>81-83</td>
                                <td>83-85</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <p class="smallest text-muted">Для определения вашего размера бюстгальтера необходимо две мерки. Обхват груди по выступающим частям и обхват под грудью. Измеряем строго параллельно полу, желательно, чтобы измерял другой человек, т.к. руки должны быть опущены при снятии мерок. Далее в таблице находите свои параметры. Ваш размер – это размер пояса и буквенное обозначения чашки бюстгальтера. Например: обхват груди 102 см, обхват под грудью 86 см. Исходя из таблицы Ваш размер = 85С.</p>

                <p class="smallest text-muted">Просим обратить внимание, при выборе белья с пуш-апом, необходимо выбирать чашку большего размера, либо проконсультироваться с нашим менеджером.</p>

                <h6 class="mb-4 pt-4">Таблица размеров домашней одежды</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody class="small">
                            <tr>
                                <td>Размер</td>
                                <td>Грудь (см)</td>
                                <td>Талия (см)</td>
                                <td>Бедра (см)</td>
                                <td>Российский размер</td>
                            </tr>

                            <tr>
                                <td>S</td>
                                <td>81-86</td>
                                <td>58-64</td>
                                <td>86-91</td>
                                <td>42-44</td>
                            </tr>
                            <tr>
                                <td>S</td>
                                <td>81-86</td>
                                <td>58-64</td>
                                <td>86-91</td>
                                <td>42-44</td>
                            </tr>
                            <tr>
                                <td>S</td>
                                <td>81-86</td>
                                <td>58-64</td>
                                <td>86-91</td>
                                <td>42-44</td>
                            </tr>
                            <tr>
                                <td>S</td>
                                <td>81-86</td>
                                <td>58-64</td>
                                <td>86-91</td>
                                <td>42-44</td>
                            </tr>
                            <tr>
                                <td>S</td>
                                <td>81-86</td>
                                <td>58-64</td>
                                <td>86-91</td>
                                <td>42-44</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}