{% autoescape off %}
    На сайте http://{{ domain }} новый заказ.
    
    Информация о заказе:

    Заказ № {{ order.id }}
    Дата/Время: {{ order.created }}

    Пользователь: {% firstof order.user 'Не указано' %}
    ФИО: {% firstof order.full_name 'Не указано' %}
    E-mail: {% firstof order.email 'Не указано' %}
    Телефон: {% firstof order.phone 'Не указано' %}
    Страна: {% firstof order.country 'Не указано' %}
    Регион / Область: {% firstof order.region 'Не указано' %}
    Город / Населённый пункт: {% firstof order.city 'Не указано' %}
    Микрорайон: {% firstof order.micro_district 'Не указано' %}
    Улица: {% firstof order.street 'Не указано' %}
    Дом: {% firstof order.house_nmb 'Не указано' %}
    Корпус: {% firstof order.building_nmb 'Не указано' %}
    Квартира / офис: {% firstof order.room_nmb 'Не указано' %}
    
    Способ доставки: {% firstof order.get_delivery_display 'Не указано' %}

    Товары в заказе:
    {% for item in order.items.all %}
        Название: {{ item.offer.product.name }} | Цена: {{ item.price }} руб. | {{ item.quantity }} шт. | Скидка: {{ item.discount }} | Итог по строке: {{ item.total_price_with_sale }} руб.
    {% endfor %}

    Итог: {{ order.total_price }} руб.
    Итог со скидкой: {{ order.total_price_with_sale }} руб.
    
    Ссылка на сайт: http://{{ domain }}
{% endautoescape %}