{% extends 'base.html' %}

{% block title %}
<title>Личная информация</title>
<meta name="description" content="Личная информация">
<meta name="keywords" content="информация, профиль">
{% endblock %}

{% block content %}
<main>
    <div class="container pb-5">
        <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-7 mx-auto pt-md-5 pb-md-4">
                <div class="text-center bg-white p-md-5 p-4">
                    <i class="fas fa-user-slash fa-3x text-primary mb-4"></i>
                    <h1 class="h5 mb-3">Ваш аккаунт удалён</h1>
                    <p class="mb-4">Спасибо, что были с нами. Надеемся на Ваше скорое возвращение.</p>
                    <!-- <a href="{% url 'delete_user' %}" title="" class="btn btn-outline-dark px-3">Восстановить аккаунт</a> -->
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}









