{% extends 'base.html' %}

{% block title %}
<title>Восстановление пароля</title>
<meta name="description" content="Восстановление пароля">
<meta name="keywords" content="пароль, восстановление">
{% endblock %}

{% block content %}
<main>
    <div class="container pb-5">
        <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-7 mx-auto pt-md-5 pb-md-4">
                <div class="position-relative bg-white p-md-5 p-4">
                    <h1 class="h5">Восстановление пароля</h1>
                    <p class="mb-4 small">Укажите электронную почту, на которую был зарегистрирован аккаунт</p>
                    <form class="needs-validation" novalidate action="{% url 'password_reset' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-label-group smaller mb-4">
                            {{ form.email }}
                            <label>Эл. почта</label>

                            <div class="invalid-feedback">
                                Проверьте верность почты
                            </div>
                        </div>

                        <button class="btn btn-outline-dark d-block px-4" type="submit">Отправить</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}









