{% extends 'base.html' %}

{% block title %}
<title>Восстановление пароля</title>
<meta name="description" content="Восстановление пароля">
<meta name="keywords" content="пароль, восстановление">
{% endblock %}

{% block content %}
<main>
    <div class="container pb-5">
        <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-7 mx-auto pt-md-5 pb-md-4">
                <div class="position-relative bg-white p-md-5 p-4">
                    <h1 class="h5">Пароль восстановлен</h1>
                    <p class="mb-4 small">
                        Теперь вы можете войти в личный кабинет
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}