{% extends 'base.html' %}
{% load tags %}

{% block title %}
<title>Контакты и реквизиты</title>
<meta name="description" content="Контакты и реквизиты">
<meta name="keywords" content="контакты, реквизиты">
{% endblock %}

{% block content %}
<main>
    <div class="container pb-5">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            {% for parent in parents %}
            <li class="breadcrumb-item"><a href="{{ parent.get_absolute_url }}">{{ parent.title }}</a></li>
            {% endfor %}
            <li class="breadcrumb-item active">Контакты и реквизиты</li>
        </ol>

        <h1 class="h3 mb-4">Контакты и реквизиты</h1>
        <div class="row align-items-center">
            <div class="col-lg-6 border-lg-right">
                <ul class="list-unstyled">
                    <li class="mb-2 smaller"><span class="text-muted mr-2">Наменование организации:</span>{{ contact_info.name }}</li>
                    <li class="mb-2 smaller"><span class="text-muted mr-2">Адрес:</span>{{ contact_info.address }}</li>
                    <li class="mb-2 smaller"><span class="text-muted mr-2">ИНН:</span>{{ contact_info.inn }}</li>
                    <li class="mb-2 smaller"><span class="text-muted mr-2">КПП:</span>{{ contact_info.kpp }}</li>
                    <li class="mb-2 smaller"><span class="text-muted mr-2">БИК:</span>{{ contact_info.bik }}</li>
                    <li class="mb-2 smaller"><span class="text-muted mr-2">Кор.счет:</span>{{ contact_info.cor_acc }}</li>
                    <li class="mb-2 smaller"><span class="text-muted mr-2">Рас.счет:</span>{{ contact_info.check_acc }}</li>
                    <li class="mb-2 smaller"><span class="text-muted mr-2">Банк получателя:</span>{{ contact_info.bank }}</li>
                    <li class="mb-2 smaller"><span class="text-muted mr-2">ОКПО:</span>{{ contact_info.okpo }}</li>
                    <li class="mb-2 smaller"><span class="text-muted mr-2">ОКОХН:</span>{{ contact_info.okohn }}</li>
                    <li class="mb-2 smaller"><span class="text-muted mr-2">ОГРН:</span>{{ contact_info.ogrn }}</li>
                    <li class="mb-2 smaller"><span class="text-muted mr-2">Эл.почта:</span><a href="mailto:{{ contact_info.email }}" title="" class="text-dark">{{ contact_info.email }}</a></li>
                    <li class="mb-2 smaller"><span class="text-muted mr-2">Сайт:</span><a href="{{ contact_info.site }}" title="" target="_blank" class="text-dark">{{ contact_info.site }}</a></li>
                    <li class="mb-2 smaller"><span class="text-muted mr-2">Телефон:</span><a href="tel:{{ contact_info.phone|only_digits }}" title="" class="text-decoration-none text-dark">{{ contact_info.phone }}</a></li>
                    <li class="mb-2 smaller"><span class="text-muted mr-2">Директор:</span>{{ contact_info.director }}</li>
                </ul>
            </div>

            <div class="col-lg-6 text-lg-center">
                <div class="d-inline-block text-left">
                    <div class="mb-4 mt-4 mt-lg-0">
                        <a href="tel:{{ contact_info.phone|only_digits }}" title="" class="text-dark text-decoration-none font-500 h5">{{ contact_info.phone }}</a>
                        <div class="clearfix"></div>
                        <span class="smallest text-muted">звонок бесплатный</span>
                    </div>


                    {% if whatsapp %}
                        <a href="https://api.whatsapp.com/send?phone=+{{ whatsapp.link|only_digits }}" target="_blank" title="" class="text-dark text-decoration-none whatsapp-link" role="button"><i class="fab fa-{{ whatsapp.short_name }} mr-1 mr-sm-2"></i><span class="smaller">Написать в WhatsApp</span></a>
                    {% endif %}

                    <div class="socials pt-1 mb-4">
                        <ul class="list-unstyled list-inline m-0">
                            {% for item in socials %}
                                {% if item != whatsapp %}
                                <li class="list-inline-item">
                                    <a href="{{ item.link }}" target="_blank" title=""><i class="fab fa-{{ item.short_name }}"></i></a>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <a href="" title="" class="btn btn-outline-dark px-4" data-toggle="modal" data-target="#MessageToManagerModal">Напишите нам</a>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="MessageToManagerModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content overflow-hidden shadow bg-light">
                <div class="modal-header">
                    <h6 class="m-0 pt-1">Напишите нам</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body pt-3">

                    <form class="needs-validation" novalidate action="{% url 'feedback' %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-label-group smaller mb-4">
                                    {{ fb_form.name }}
                                    <label>Ваше имя</label>

                                    <div class="invalid-feedback">
                                        Проверьте верность почты
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-label-group smaller mb-4">
                                    {{ fb_form.email_or_phone }}
                                    <label>Телефон или E-mail</label>

                                    <div class="invalid-feedback">
                                        Это обязательное поле
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-label-group smaller mb-4">
                            {{ fb_form.text }}
                            <label>Текст сообщения</label>
                        </div>

                        <button class="btn btn-outline-dark d-block px-4 mb-4" type="submit">Отправить</button>

                        <div class="alert alert-secondary alert-dismissible small fade show mb-4 d-none" role="alert">
                            <strong>Произошла ошибка! </strong>Обновите страницу и попробуйте ещё раз.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <p class="text-muted smallest border-top mb-0 pt-3">Нажимая кнопку "Отправить", вы даёте согласие на <a href="/pages/personal-data/" target="_blank">обработку персональных данных</a></p>
                    </form>

                    <div class="form-success d-none align-items-center justify-content-center text-center p-4">
                        <div>
                            <i class="far fa-envelope fa-2x mb-3"></i>
                            <h6>Спасибо за Ваше обращение.</h6>
                            <p class="small">Мы ответим в ближайшее время по указанным Вами контактам.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</main>
{% endblock %}